.glavnaia{
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.knopochki{
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: burlywood;
}
.knop{
    height: 40%;
    width: 14%;
    text-align: center;
    border: 1px solid;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s ease;
}
.knop:hover{
    transform: scale(1.1);
    color: aqua;
    background-color: rgb(209, 160, 95);
}
.MAX{
    text-decoration: none;
    color: black;
}
.osnova{
    height: 100%;
    width: 100%;
    background-color: rgb(44, 61, 34);
    background-image:url(./Picchi/fon1.jpg);
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}
.gor{
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(245, 245, 220, 0.603);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.gor1{
    height:85% ;
    width: 70%;
    border: 0px solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.kart1{
    height: 90%;
    width: 20%;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.kart2{
    height: 90%;
    width: 20%;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.futer{
    width: 100%;
    height: 25%;
    background-color: black;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.futer1{
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.social1{
    width:10%;
    height: 10%;
}
.vk{
    width: 5%;
    height: 5%;
}
.foto{
    width: 70%;
    height: 70%;
}
.opis{
    width: 100%;
    height: 30%;
    font-size: 14pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: 1s ease;
}
.opis:hover{
    transform: scale(1.1);
}
.fotod{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.reklamo4ka{
    position: fixed;
    display: flex;
    right: 0;
    height: 100px;
    width: 200px;
    border: 1px solid;
    background-color: rgba(255, 235, 205, 0.705);
    flex-direction: column;
    align-items: center;
    margin-top: 800px;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    transition:0.3s;
}
.reklamo4ka:hover{
    transform: scale(1.2);
    margin-right: 25px;
}