.glavnaia{
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.knopochki{
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: burlywood;
}
.knop{
    height: 40%;
    width: 14%;
    text-align: center;
    border: 1px solid;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s ease;
}
.knop:hover{
    transform: scale(1.1);
    color: aqua;
    background-color: rgb(209, 160, 95);
}
.MAX{
    text-decoration: none;
    color: black;
}
.glav{
    width: 100%;
    background-color: aqua;
    background-image:url(./Picchi/fon1.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 65px;
}
.orest{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.521);
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.povara{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.521);
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.povara1{
    font-size: 16pt;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.povar1{
    width: 100%;
    height: 50%;
    border-radius: 25%;
}
.sag1{
    text-align: center;
}
.imapov{
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.galereia{
    width: 90%;
    height: 30%;
    background-color:rgba(255, 255, 255, 0.521);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gal1{
    width: 25%;
    height: 20%;
}
.gal2{
    width: 100%;
    height: 100%;
}
.gal3{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.otsuv{
    width: 90%;
    height: 30%;
    background-color:rgba(255, 255, 255, 0.521);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.osnovaot{
    width: 100%;
    height: 100%;
    border: 1px solid;
}
.otsuv1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.avatar{
    width: 35%;
    height: 100%;
    text-align: center;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textotsuv{
    width: 50%;
    height: 100%;
    text-align: left;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ava{
    width: 60%;
    height: 60%;
    border-radius: 10%;
}
.futer{
    width: 100%;
    height: 25%;
    background-color: black;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.futer1{
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.social1{
    width:10%;
    height: 10%;
}
.vk{
    width: 5%;
    height: 5%;
}
.reklamo4ka{
    position: fixed;
    display: flex;
    right: 0;
    height: 100px;
    width: 200px;
    border: 1px solid;
    background-color: rgba(255, 235, 205, 0.705);
    flex-direction: column;
    align-items: center;
    margin-top: 800px;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    transition:0.3s;
}
.reklamo4ka:hover{
    transform: scale(1.2);
    margin-right: 25px;
}