.glavnaia{
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.knopochki{
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: burlywood;
}
.knop{
    height: 40%;
    width: 14%;
    text-align: center;
    border: 1px solid;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s ease;
}
.knop:hover{
    transform: scale(1.1);
    color: aqua;
    background-color: rgb(209, 160, 95);
}
.MAX{
    text-decoration: none;
    color: black;
}
.glav{
    width: 100%;
    background-color: aqua;
    background-image:url(./Picchi/fon1.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 65px;
}
.okno{
    width: 600px;
    height: 600px;
    background-image: linear-gradient(rgba(255, 233, 135, 0.459),rgba(61, 184, 255, 0.644));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.regver{
    height: 15%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.user{
    width: 90%;
    height: 25%;
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.user1{
    height: 50%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
}
.knopka1{
    height: 10%;
    width: 90%;
    border: 1px solid rgba(255, 250, 250, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}
.forpass{
    height: 30%;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0);
    
}
.reg{
    text-decoration: underline rgb(226, 185, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: white;
}
.ver{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 0.418);
    text-decoration:none
}
.reg1{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.text{
    height: 40%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}
.pole{
    height: 60%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
}
.knopka2{
    height: 8%;
    width: 90%;
    border: 1px solid rgba(255, 250, 250, 0);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.text1{
    width: 95%;
    height: 75%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(255, 255, 255, 0.521);
}
.check{
    width: 10%;
    height: 50%;
    background-color: rgb(226, 204, 0);
    
}
.but{
    background-color: rgb(226, 185, 0);
    color: white;
    width: 100%;
    height: 75%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.forget{
    color: rgba(255, 255, 255, 0.514);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.polosa{
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 80%;
}
.futer{
    width: 100%;
    height: 25%;
    background-color: black;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.futer1{
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.social1{
    width:10%;
    height: 10%;
}
.vk{
    width: 5%;
    height: 5%;
}
.foto{
    width: 70%;
    height: 70%;
}
.opis{
    width: 100%;
    height: 30%;
    font-size: 14pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.fotod{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.reklamo4ka{
    position: fixed;
    display: flex;
    right: 0;
    height: 100px;
    width: 200px;
    border: 1px solid;
    background-color: rgba(255, 235, 205, 0.705);
    flex-direction: column;
    align-items: center;
    margin-top: 800px;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    transition:0.3s;
}
.reklamo4ka:hover{
    transform: scale(1.2);
    margin-right: 25px;
}